.steps {
    background-image: url(/src/images/bg-sidebar-desktop.svg);
    border-radius: 10px;
    padding: 30px;
    padding-right: 85px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step.active .step-num{
    background-color: var(--blue-light);
    color: black;
}

.step-num {
    border: 2px solid var(--blue-light);
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
    color: var(--blue-light);
    margin-right: 15px;
    font-weight: var(--fw-500);
}

.step-description p {
    color: var(--white);
    margin: 0;
}

.step-description p:first-child {
    color: var(--gray-cool);
    font-weight: var(--fw-500);
}

.step-description p:last-child {
    font-weight: var(--fw-700);
}