:root {
  /* primary */
  --blue-marine: hsl(213, 96%, 18%);
  --blue-purplish: hsl(243, 100%, 62%);
  --blue-pastel: hsl(228, 100%, 84%);
  --blue-light: hsl(206, 94%, 87%);
  --red-strawberry: hsl(354, 84%, 57%);
  /* neutral */
  --gray-cool: hsl(231, 11%, 63%);
  --gray-light: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  /* font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  /* font size */
  --fs-p: 16px;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
